.transactions-main {
  width: 100%;
  padding: 0 25px;
  margin-top: 12px;
}

.transactions-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 6px 25px;
  font-size: 14px;
  cursor: pointer;
}

.transactions-heading h4 {
  font-size: 12px;
  font-weight: 600;
  color: #a0a3a8;
}

.account {
  width: 35%;
}

.type {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: justify-end;
}

.status {
  width: 15%;
}

.date {
  width: 35%;
  text-align: end;
}

.transactions-details {
  color: white;
  display: flex;
  margin-top: 10px;
  background-color: #1a1a1c;
  border-bottom: 1px solid #a0a3a8;
  padding: 33px 25px;
  border-radius: 3px;
  align-items: center;
  font-size: 14px;
}

.transactions-details p {
  margin-right: 15px;
}

.transactions-details h3 {
  color: rgb(255, 91, 80);
  font-weight: 500;
  margin-left: 15px;
}

.details-container {
  color: white;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #a0a3a8;
}

.details-container h6 {
  font-size: 14px;
  color: #a0a3a8;
  margin-top: 10px;
}

.details-container p {
  color: #a0a3a8;
  font-size: 13px;
}

.details-container span {
  font-size: 13px;
  color: rgb(255, 91, 80);
}

.proposition-details {
  color: white;
  display: flex;
  margin-top: 10px;
  background-color: #1a1a1c;
  border-bottom: 1px solid #a0a3a8;
  padding: 33px 25px;
  border-radius: 3px;
  align-items: center;
  font-size: 14px;
}
